/*  your css code here. If applicable */
#animal-photos{
    width: 80%;
	display:flex;
	flex-direction:column;
	align-items:center;
	
}
h1{
    text-align: center;
}
#container{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	gap:20px;
}
img{
	border-radius:10%;
}